
.wrapper-blog {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto);
    justify-content: space-evenly;
    align-content: center;
}

.destinations {
    grid-column: 4 / 12;
    margin: 10px;
}

/*MAIN PIC START*/
.pic-wrapper{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.blog-img{
    border-radius: 2px;
    width: 100%;
    display: block;
}

.pic-frame{
    position: absolute;
    background-color: rgba(32, 32, 32);
    z-index: 34;
    height: 60px;  
    display: block;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 70%;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.icon-holder{
    display: flex;
    font-size: 22px;
    color: #ffdf;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 25px 15px 25px;
}

.fa-stack{
    vertical-align: top;
    line-height: 1em !important;
}

.fa-plus {
    margin-left: -10px;
}

.fa-0, .fa-1, .fa-2, .fa-3, .fa-4,
.fa-5, .fa-6, .fa-7, .fa-8, .fa-9 {
    margin-left: 9px;
}

/*header képre húzáskor extra réteg*/
.pic-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
}

/* overlaybe tartozó szöveg*/
.overlay-text {
    color: rgb(36, 36, 36);
    font-size: 3.4em;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#tooltip-text{
    position: absolute;
    font-size: 1.2em !important;
    top: 50%;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center !important;
    font-style: italic;
    width: 95%;
    color: #1A2250;
}

.fa-solid:hover,
.fa-regular:hover,
.fa-stack:hover{
    transform: scale(1.1);
    opacity: 100%;
    color: orange;
} 

.pic-wrapper:hover .pic-overlay {
    opacity: 70%;
}

.destinations h2{
    margin: 15px;
    color:#05aff0;
}
.destinations .main-box{
    text-align: left;
    margin: 0 0 15px 0;
}

/*MAIN PIC END*/

/*DESCRIPTION START*/
.regions-li{
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    margin: 12px;
}

/*DETAILS SECTION START*/
.country-details details{
    padding-top: 1.3rem;
    margin: auto;
}

.country-details details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.country-details details summary::-webkit-details-marker {
    display: none;
}

.country-details details summary {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
}

.country-details details summary:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

.country-details details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
}

.country-details details summary {
    outline: 0;
    font-weight: 700;
    font-size: 0.95em;
    text-align: left;
    margin: 8px 0 0 0;
}
/*DETAILS SECTION END*/

/*PRO TIPS CARD START*/
.pro-tips-card{
	border-radius: 10px;
	background: white;
	padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
	box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.2);
	line-height: 1.5;
}

.card-title {
	margin: 0 0 5px 0;
	letter-spacing: 1px;
    color: #05aff0;

}

.card-description{
	font-style: italic;
}
/*PRO TIPS CARD END*/

/*RÉGIÓK KÉP VÁLASZTÓ START*/
.region-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}
  
.region-pic-container {
    transition: flex var(--transition), filter var(--transition);
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    object-fit: cover;
    overflow: hidden;
    flex: 1;
    position: relative;
}

.region-pic-container img {
    --brightness: 0.75;
    --grayscale: 1;
    height: 350px;
}

.region-pic-container h6 a{
    text-decoration: none;
    list-style-type: none;
    position: absolute;
    top: 80%;
    left: 8%;
    font-size: 1.2em;
    color:#fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
.region-pic-container:hover {
    --brightness: 1.15;
    --grayscale: 0;
    flex: var(--magnifier);
}
/*RÉGIÓK KÉP VÁLASZTÓ END*/

/*DESCRITION EGYÉB BEÁLLÍTÁSOK*/
figure img{
    width: 100%;
    max-width: 680px;
}

figcaption{
    margin-bottom: 15px;
}

.ol-list {
    margin-left: 12px;
}

/*DESCRIPTION END*/

/*---------------------------------------------------------------*/

/*TÖRÉSPONTOK*/
@media (max-width:1320px) {
    .destinations{
        grid-column: 4 / 12;
    }
    
}

@media (max-width:1050px) {
    .destinations{
        grid-column: 2 / 12;
        grid-row:3;
    }

    .left-side {
        grid-column: 2 / 12;
        grid-row:auto;
        margin: 0 auto;
    }
}

@media (max-width:888px) {
    .destinations {
        grid-column: 1 / 13;
        margin: 0 auto;
        padding: 15px;
    }

    .left-side {
        grid-column: 1 / 13;
        grid-row:auto;
        padding: 15px;
    }

    .pic-frame{
        position: relative;
        background-color: white;
        overflow:visible;
        height: auto;
    }

    .icon-holder {
        color: black;
        opacity: 100%;
        margin: 15px auto;
        flex-wrap: wrap;
    }

    .fa-1x{
        display: block !important;
        margin: 0 auto;
    }

    .icons {
        flex: 1 0 18%; /* Rugalmas flex beállítás, az utolsó érték (30%) az elem szélességét szabályozza */
        margin: 5px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .overlay-text {
        top: 25%;  
    }

    #tooltip-text{
        top: 40%;  
    }
}

@media (max-width:580px) {
    .fa-stack-1x{     
        font-size: 16px;
    }

    .icons {
        flex: 1 0 15%; /* Rugalmas flex beállítás, az utolsó érték (30%) az elem szélességét szabályozza */
    }

    .fa-plus {
        margin-left: -5px;
    }
    
    .fa-0, .fa-1, .fa-2, .fa-3, .fa-4,
    .fa-5, .fa-6, .fa-7, .fa-8, .fa-9 {
        margin-left: 7px;
    }

    .overlay-text {
        top: 15%;  
        font-size: 2.4em;  
    }

    #tooltip-text{
        top: 38%;  
        font-size: 0.85em !important;
    }

    .region-container {
        display: inline-block;
        height: auto;
    }

    .region-pic-container img {
        width:100%;
        height: auto;
    }
}