
.wrapper-blog {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto);
}

.destinations {
    grid-column: 4 / 12;
}

.pic-wrapper{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.blog-img{
    border-radius: 2px;
    width: 100%;
    display: block;
}

.pic-frame{
    position: absolute;
    background-color: rgba(32, 32, 32);
    z-index: 34;
    height: 60px;  
    display: block;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 70%;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.icon-holder{
    display: flex;
    font-size: 22px;
    color: #ffdf;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 25px 15px 0;
}

.fa-stack{
    vertical-align: top;
    line-height: 1em !important;
}

.fa-u {
    margin-left: -20px;
}

.fa-t {
    margin-left: 0px;
}

.fa-c {
    margin-left: 16px;
}

.fa-plus {
    margin-left: 45px;
}

.fa-1 {
    margin-left: 65px;
}

.fa-c {
    margin-left: 20px;
}

/* UTC utáni első ikont picit odébb toljuk, hogy arányosabb legyen*/
.margin-l-i{
    margin-left: 25px;
}

/*header képre húzáskor extra réteg*/
.pic-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: whitesmoke;
}

/* overlaybe tartozó szöveg*/
.overlay-text {
    color: rgb(36, 36, 36);
    font-size: 3.4em;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#tooltip-text{
    position: absolute;
    font-size: 1.2em !important;
    top: 50%;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center !important;
    font-style: italic;
    width: 95%;
}

.fa-solid:hover,
.fa-regular:hover,
.fa-stack:hover{
    transform: scale(1.1);
    opacity: 100%;
    color: orange;
} 

.pic-wrapper:hover .pic-overlay {
    opacity: 70%;
}

.destinations h2{
    margin: 15px;
}
.destinations .main-intro{
    text-align: left;
}

/*---------------------------------------------------------------*/

/*TÖRÉSPONTOK*/
@media (max-width:1320px) {
    .destinations{
        grid-column: 4 / 12;
    }
    
}

@media (max-width:1050px) {
    .destinations{
        grid-column: 2 / 12;
        grid-row:3;
    }

    .left-side {
        grid-column: 2 / 12;
        grid-row:auto;
        margin: 0 auto;
    }
}

@media (max-width:888px) {
    .destinations {
        grid-column: 1 / 13;
        margin: 0 auto;
        padding: 15px;
    }

    .pic-frame{
        position: relative;
        background-color: white;
        overflow:visible;
    }

    .icon-holder {
        color: black;
        opacity: 100%;
        margin: 15px auto;
        flex-wrap: wrap;
    }

    .fa-1x{
        display: block !important;
        margin: 0 auto;
    }

    .icons {
        flex: 1 0 18%; /* Rugalmas flex beállítás, az utolsó érték (30%) az elem szélességét szabályozza */
        margin: 5px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
/*
    .destinations h2{
        overflow: auto;
        margin-top: 70px;
    }
*/    
}